
<% layout('layouts/boilerplate') %>
<body>

  <div class="box">
  <h1>TEST COMPLETED</h1>
  <h2>Score: <%= totalScore %> / <%= total %></h2>
  <h3>Percentage: <%= percentage %>%</h3>
  <a href="/tests" style="color:#00ffcc;">Go Back</a>
</div>

</body>
