<% layout("layouts/boilerplate") %>

<div style="padding:40px">

  <h1>User Excel Uploads</h1>

  <br>

  <% if(files.length === 0){ %>

    <h3>No user uploads found </h3>

  <% } %>

 <% files.forEach(file => { %>

<tr>

  <td>
    <%= file.fileName %>
  </td>

  <td>
    <a href="<%= file.fileUrl %>" target="_blank">
      View
    </a>
  </td>

  <td>
    <form
      action="/delete-user-upload/<%= file._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">
        Delete
      </button>
    </form>
  </td>

</tr>

<% }) %>

</div>