<% layout("layouts/boilerplate") %>

<div style="padding:40px">

  <h1>Uploads</h1>

  <br>

  <a href="/admin/uploads/users">
    <button>User Excel Uploads</button>
  </a>

  <br><br>

  <a href="/admin/uploads/flashcards">
    <button>Flashcard Excel Uploads</button>
  </a>

</div>